<div>
  <h1>Image: {{image.filename}} <span class="header-user">(by: <a ng-href="#/users/{{image.UserId}}">{{image.User.username}}</a>, added 
    {{image.createdAt | date:'d.M.yyyy H.mm'}} ) </span><button type="button" class="btn btn-danger" ng-click="deleteImage()" ng-if="ownerIsLoggedIn">
  <span class="glyphicon glyphicon-remove"></span>Delete image</button></h1>

    <a ng-href="https://s3.amazonaws.com/imgappbucket/{{image.filename}}"><img ng-src="https://s3.amazonaws.com/imgappbucket/{{image.filename}}" class="img-responsive image-page-image" /></a>

  <div id="comments">
    <table>
      <tr ng-repeat="comment in image.Comments | orderBy : 'id'">
        <td class="commentTime">{{comment.createdAt | date:'d.M.yyyy H.mm'}}</td><td class="commentUser"><a ng-href="#/users/{{comment.User.id}}">{{comment.User.username}}</a>:</td><td class="commentContent">{{comment.content}}</td>
      </tr>
    </table>
  </div>

  <form class="form-user">
    <label for="newComment" class="sr-only">Comment: </label>
    <input type="text" id="newComment" class="form-control" placeholder="Comment" ng-model="newComment.content">

    <button class="btn btn-lg btn-primary" ng-click="comment()" ng-disabled="!newComment.content">Send</button>
  </form>
</div>